@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400italic,600,600italic,800,800italic");

// DEBUGGING STYLE (UNCOMMENT TO SEE BOX VISUALIZATION)
// *:not(path):not(g) {
//   color: hsla(210, 100%, 100%, 0.9) !important;
//   background: hsla(210, 100%, 50%, 0.5) !important;
//   outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
//   box-shadow: none !important;
//   filter: none !important;
// }

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
  background: #2e3842;
}

body,
input,
select,
textarea {
  color: #fff;
  font-family: "Lato", "Open Sans", Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  letter-spacing: 0.075rem;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

strong,
b {
  color: #fff;
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

p {
  font-weight: 300;
  margin: 0 0 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.225rem;
  line-height: 1rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.35rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1.15rem;
  line-height: 1.75rem;
}

.container--wide {
  margin: 0 auto;
  width: 84vw;
}

.container--right {
  margin: 0 0 0 auto;
  width: 92vw;
}

.mobile-only {
  display: none;
}

.titled-box {
  display: flex;

  &__title {
    align-items: flex-end;
    display: flex;
    flex: 1 0 8vw;
    justify-content: flex-end;
    max-width: 8vw;
    padding-bottom: 0.3rem;
    transform: rotate(180deg);
    writing-mode: vertical-lr;

    span {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-right: 1rem;
    }

    i {
      margin-bottom: 1rem;
      transform: rotate(90deg);
    }
  }

  &__content {
    flex: 1 0 84vw;
    max-width: 84vw;
  }
}

@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 13pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  body,
  input,
  select,
  textarea {
    font-size: 10.5pt;
    letter-spacing: 0.0375rem;
  }

  h2,
  h3 {
    font-size: 1.125rem;
  }

  .titled-box {
    &__title {
      span {
        margin-right: 0;
      }
    }

    &__content {
      flex: 1 0 92vw;
      max-width: 92vw;
    }
  }

  .mobile-only {
    display: block;
  }

  .large-only {
    display: none;
  }
}
