.best-deals {
  background-color: #1a9986;
  padding: 2rem 0 5.625rem;
}

.deal-card {
  padding-right: 1rem;

  &__container {
    position: relative;
  }

  &__figure {
    position: relative;
    width: 100%;

    &:before {
      content: "";
      display: block;
      padding-top: 75%;
    }
  }

  &__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__overlay {
    background: rgba(26, 153, 134, 0.3);
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    position: absolute;
    height: 100%;
    justify-content: space-between;
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .best-deals {
    padding: 4rem 0 3.625rem;
  }
}

@media screen and (max-width: 736px) {
  .best-deals {
    padding: 3rem 0 1rem;
  }

  .deal-card {
    padding: 0;
    margin: 0 0 1rem 0;

    &__overlay {
      padding: 1rem;

      * {
        line-height: 1.5;
        margin: 0;
      }
    }
  }
}
