.island {
  background-image: url("/static/images/banner.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 50vh;
  padding: 8rem 0 4rem;
}

@media screen and (max-width: 980px) {
  .island {
    padding: 4rem 0 2rem;
  }
}

@media screen and (max-width: 736px) {
  .island {
    padding: 3rem 0 1rem;
  }
}
